<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h2>Welcome to your dashboard</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda exercitationem repellat
        adipisci facilis nulla vel fugiat tempore ex nostrum. Deserunt aliquam nesciunt similique
        qui reprehenderit asperiores vero reiciendis excepturi, hic dicta eum eos, veritatis quo
        illum? Dicta corporis expedita magni?
      </p>
    </main>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
